/* Extra large screens, TV */

html {
  width: 100%;
  height: 100%;
  background-color: rgba(215, 221, 221, 0.5);
}

.loader {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-style: italic;
  font-size: 40px;
}

.container {
  padding-top: 5vh;
  margin: 0 auto;
  font-family: "Fraunces", serif;
}

@media screen and (min-width: 1201px) {
  .container {
    width: 80%;
  }
}
/* Desktops, large screens */

@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

/* Small screen, laptops */

@media screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

/* iPads, Tablets */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Mobile devices */

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
